<div class="product-card">
  <div class="product-card__link">
    <div class="product-card__media">
      {{ 'product-1' | placeholder_svg_tag: 'product-card__placeholder' }}
    </div>
    <div class="product-card__content">
      <h3 class="product-card__title">Product Title</h3>
      <p class="product-card__description">Product description will appear here.</p>
      <div class="product-card__price">$0.00</div>
      <span class="product-card__button">View Product</span>
    </div>
  </div>
</div>

